{% extends 'landing/base.html' %}
{% include 'index.html' %}
{% load static %}

{% block title %}{:=()){% endblock %}


{% block content %}


<section class="container">
  <!--for integrated trading views, investment charts and the rest , including fundamentals-->
  <hr>
  <div class="row justify-content-center mt-5">
    <div class="col-md-10 col-sm-12 text-center">  
      <!--Carousel Slide-->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="0" class="active"  aria-current="true" aria-label="Slide 1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="9"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="10"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="11"></li>
          <li data-bs-target="#carouselExampleIndicators" data-slide-to="12"></li>
        </ol>        
        <div class="carousel-inner">
          {% for post in object_list %}
          <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %} ">
            <!-- post carousel image-->
            {% if post.image %}
            <img src="{{ post.image.url }}" class="col-md-10" style="width: 25rem;" alt="...">
            {% endif %}

            <div class="carousel-caption mt-3">
              <h1 class="animate__animated
              {% if forloop.counter0 == 0 %}
              animate__fadeInDown
              {% endif %}
              {% if forloop.counter == 1 %}
              animate__slideInDown
              {% endif %}
              {% if forloop.revcounter == 2 %}
              animate__zoomIn
              {% endif %}">
              <!--Header-->
              <h5><a href="{% url 'post-detail' post.pk %}">
              {{ post.title }}</a> </h5>
              <!--Link to posts page-->
              <p
                class="card-text">{{post.sub_title}}
                {{ post.author.first_name }} 
                {{ post.author.last_name }} - 
                {{ post.created_on }} 
              </p>
              <!-- end -->

            </div>
          </div>
          {% endfor %}
          
        </div>
          <a class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
      <!--end-->
</section>


<!-- Carousel wrapper -->
<br>
<!--colors carousel-->
 <div class="container my-4">
      <p>
        <strong
          >You can use slideshow component for cycling through elements—images or slides of text—like a carousel</strong
        >
      </p>

      <p>
        {% if post.author.profile.website_url %}
        <a
          href="{{ post.author.profile.website_url }}" class="Website"><i class="bx bxl-Website" target="_blank">
      
          <strong>TradingView</strong></a
        >
        {% endif %}
      </p>

        

     <hr class="mt-5">

  <p>Search to find your favorite traders with - microsecond
    <form class="d-flex" method="GET" action="{% url 'profile-search' %}">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>search</button>
        </span>
      </div>
    </form>
  </p>

  <a class="btn btn-primary me-2" href="{% url 'book_list' %}" target="_blank" role="button">
   Download PDF's
   <i class="fas fa-download"></i>
  </a>
  <a class="btn btn-danger me-2 bi bi-tv" target="_blank" href="{% url 'about' %}" role="button">
    Learn more
  </a>
  <a class="btn btn-success me-2 bi bi-window" target="_blank" href="{% url 'projects' %}" role="button">
    Tutorials
  </a>
  <a class="btn btn-dark me-2 bi bi-bar-chart-line" target="_blank" href="{% url 'brokergallery' %}" role="button">
    Best Broker
  </a>
  
 
  <hr class="mb-5"/>

<!--Carousel Wrapper-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <!--Indicators-->
  <ol class="carousel-indicators" class="carousel slide" data-bs-ride="carousel">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"  aria-current="true" aria-label="Slide 1">
    </li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    {% for post in object_list %}

    <div class="carousel-item {% if forloop.counter %} active {% endif %} ">

    
      <div class="col-md-3" style="float:left">
       <div class="card mb-2">
        {% if post.header_image %}
          <img class="card-img-top"
            src="{{ post.header_image.url}}" alt="Card image cap">
        {% endif %}
          <div class="card-body">
            <h4 class="card-title">
            <a href="{% url 'post-detail' post.pk %}">
            {{ post.title }}</a></h4>
            <p class="card-text">{{ post.snippet }}</p>
            <a class="btn btn-primary"> <small class="text-white fmuted">{{ post.created_on }} </small></a>
          </div>
        </div>
      </div>
    {% endfor %}
    
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating carousel-control-next" href="#carouselExampleIndicators" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

</div>
<!--/.Carousel Wrapper-->
{% endblock %}