{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<section class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10 col-sm-12 text-center">   
    <a class="btn btn-primary bi bi-cloud-upload" target="_blank" href="{% url 'book_list' %}" role="button">
         Download PDF's
    </a>
    <a class="btn btn-warning bi bi-bar-chart-line" target="_blank" href="{% url 'brokergallery' %}" role="button">
         Broker
    </a>
    <a class="btn btn-secondary bi me-2 bi bi-tv" target="_blank"  href="{% url 'about' %}" role="button">
         Learn more
    </a>
    <a class="btn btn-success bi me-2 bi bi-cursor" target="_blank"  href="{% url 'home' %}" role="button">
         Home
    </a>
    <a class="btn btn-danger bi bi-bank" target="_blank"  href="{% url 'add_post' %}" role="button">
         Post_analysis
    </a>
    <a class="btn btn-light bi bi-bag-plus" target="_blank" href="{% url 'addbroker' %}" role="button">
         Add_broker 
    </a>
    <a class="btn btn-dark bi bi-brightness-high" target="_blank" href="{% url 'projects' %}"  role="button">
         Projects
    </a>

   </div>
 </div> 


    <h1>{{ post.title }}</h1> 
    <small> 
            {{ author.first_name }} 
            {{ author.last_name }}
        
        {% if user.is_authenticated %}
           {%if user.id == post.author.id %}
            -<a href="{% url 'update_post'  post.pk %}">(Edit)
                </a>

            -<a href="{% url 'delete_post' post.pk %}">(Delete)
                </a>
            {% endif %}
        {% endif %}
    </small><br/>
    <hr>
    <br/>

    <!--Post list and view-->
    {% for post in post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <div>
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a> {{ post.created_on }}
                </p>
            </div>
            <div class="position-relative">
                <p>{{ post.body|safe }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="/submit">
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
        </div>
    </div>
    {% endfor %}
 </div>
</section>
{% endblock content %}
