{% extends 'landing/base.html' %}

{% block title %}search here!{% endblock %}

{% block content %}
</br></br>


<section class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center"> 
            {% if q %}
            <h1>You are looking for "{{ q }}"</h1>

            <P>
                {% with results.count as total_results %}
                Found {{ total_results }} results {{ total_results|pluralize }}
                {% endwith %}


            </p>

            {% for post in results %}
            <h5><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h5>
            {{ post.body|slice:":200"|safe }}</li>
            {% empty %}
            <p>There are no results available, sorry bro!</P>
            {% endfor %}
            <p><a href="{% url "post_search" %}": class="btn btn-primary mt-5" role="button" aria-disabled="true">New search</a>
            </p>
            {% else %}


            </div>
            <h2>{'-'... pls try to pluralize your post search ..e.g 'f' for 'forex'  </h2>
                <form class="d-flex" method="GET">
                <div class="input-group">
                 <span class="input-group-text" id="basic-addon1">
                    {% csrf_token %}
                    {{ form.q }}
                
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>search</button>
                    </span>
                </div>
                </form>
           

            {% endif %}

            </div>


            <script>
                $(document).on('keyup', '#id_q', function (e) {
                    e.preventDefault();

                    var minlength = 3;
                    var results = [];

                    if ($('#id_q').val().length >= minlength) {
                        $.ajax({
                            type: 'POST',
                            url: '{% url "post_search" %}',
                            data: {
                                ss: $('#id_q').val(),
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                action: 'post'
                            },
                            success: function (json) {

                                $.each(JSON.parse(json.search_string), function (i, item) {

                                    results.push('<li class="my-2 pl-2"><a href="/' + item
                                        .fields.slug +
                                        '">' + item.fields.title +
                                        '</a></li>')
                                })

                                if (!$(".show")[0]) {
                                    $('.menudd').trigger('click')
                                }

                                document.getElementById("list").innerHTML = (!results.length) ?
                                    "No results match your query" : results.join('');
                            },
                            error: function (xhr, errmsg, err) {}
                        });
                    }
                })
            </script>
        </div>
    </div>
</section>
{% endblock %}