{% extends 'landing/base.html' %}
{% block title %}Create a New Profile Page!{% endblock %}
{% block content %}

</br>
</br></br>
{% if user.is_authenticated %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'home'  %}" class="btn btn-light">Home</a>
        </div>
    </div>
 
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h2>Create Profile Page{:=)()}</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning">Create Profile Page</button>
    </div>
    <!--creating auto author name -->
    <script>
        var name = "{{ user.pk }}";
        document.getElementById("elder").value = name;
    
    </script> 

    {% else %}

    You're not allowed here!

</div>
{% endif %}


{% endblock %}