{% extends "landing/base.html" %}

{% block content %}
      <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <strong>NOTICE!</strong> You can now upload videos, view analysis and trade live with professional traders, with us. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>  
    </div class="container my-3 py-3">
    <h2 class="text-center my-3">microsecond {:=()}</h2>
    
<section class="container">
  <div class="row justify-content-center mt-5">
   <div class="col-md-10 col-sm-12 text-center">  
    <div class="row"> 
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x500/?books,library" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">WHY!</h5>
            <p class="card-text">Trading is a very difficult career it requires lot of self understanding, discipline, consistency and many more . Start Ups struggle to master this skill they end up blowing accounts, loosing lot of cash ,some loose themselves. We aim to solve that problem by connecting and exposing best traders our there to help us gain trading knowldge and skills they mastered without us getting to loose lot of cash.</p>
            <a href="#" class="btn btn-primary">Anouncement</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x500/?forex,nasdaq100" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ABOUT</h5>
            <p class="card-text">microsecond is made for speculators, investors, day traders all over the world our aim is to connect everyone in their persuit of financial freedom to live and cherish the love of stock market, sharing ideas , integrated links to their diffent platforms and social communications.</p>
            <a href="#" class="btn btn-primary">Message</a>
          </div>
        </div>
      </div>
      
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x500/?stockmarket,graphs" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">OTHER</h5>
            <p class="card-text"> We allow traders to refer us to preffered brokers and by sharing their experiences about preffered brokers by showing us results.</p>
            <a href="#" class="btn btn-primary">Message</a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <div class="container my-3">
    </div>

    <div class="container">
        <h2 class="text-center my-3">Online classes explained</h2>
      <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>  
    </div>
  </div>
</section>
    <!-- Footer -->
{% endblock %}